/* globales */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Bebas Neue', cursive;
font-family: 'Lato', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #15001f; 
}

h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color: #15001fbe;
    background-image: url('../img/Concept07.jpg');
    background-size: cover;
    background-blend-mode: multiply;
}

/* landing ---------------------------------------------------------*/

.landingBanner {
    width: 100%;
    height: 94vh;
    background-color: #770cf1;
    background-image: url('../img/Concept24.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcebfa;
}

.landingBanner .col_1 {
    width: 45%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.landingBanner h1, .landingBanner h2 {
    text-align: right;
    min-width: 400px;
}

.landingBanner h1 {
    font-size: 10rem;
    line-height: 100%;
}

.landingBanner h2 {
    font-size: 30px;

}

.landingBanner .col_2 {
    width: 55%;
    display: flex;
    flex-flow: wrap;
}

.landingBanner .col_2 img {
    opacity: 0.8;
    width: 100%;
    align-self: center;
    min-width: 400px;
    max-width: 600px;
}

/* header ----------------------------------------------------- */

header {
    width: 100%;
    height: 6vh;
    min-height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}


.headerWrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
}

.navWrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.navWrapper .logo {
    width: 30%;
    max-width: 230px;
    min-width: 150px;
}

.navWrapper .logo img {
    width: 100%
}

/* header -> nav -----------------------------------------------------*/

.navWrapper nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
}

.navWrapper nav ul li {
    display: block;
    padding: 0 10px;
}

.navWrapper nav ul li:active {
    color: #8706f0;
}

.navWrapper nav ul li:hover {
    color: #8001a7;
}

/* main ------------------------------------------------------------ */

/* main -> banners ----------------------------------------------------- */

.mainBanner {
    width: 100%;
    min-height: 94vh;
    background-size: cover;
    color: whitesmoke;
}


/* mainBanner explorá tyria --------------------------------------- */

.bg1 {
    background-image: url('../img/Concept07.jpg');
    background-attachment: fixed;
    background-color: #750065ee;
    background-blend-mode: multiply;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
}

/* mainBanner explorá tyria || col 1 --------------------------------- */

.bg1 .col_1,
.bg1 .col_2 {
    width: 100%;
    text-align: center;
}

.mainBanner .col_1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.mainBanner h2 {
    font-size: 100px;
    letter-spacing: 10px;
}

.mainBanner h4 {
    font-size: 30px;
}

/* mainBanner explorá tyria || col 2 --------------------------------- */

.bg1 .col_2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

/* --> cards ---------------------------------------------------------*/

.card {
    width: 250px;
    height: 350px;
    border: 10px solid #492646;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background: #5e0056b5;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.card h5 {
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    text-shadow: 1px 1px 10px #000000;
}

.card p {
    padding: 10px;
    background-color: #350135b2;
    visibility: hidden;
}

.card:hover {
    background-blend-mode: normal;
    border-color: #4d0042;
}

.card:hover p {
    visibility: visible;
}

.card_1 {
    background-image: url('../img/Concept07.jpg');
}

.card_2 {
    background-image: url('../img/caithe.jpg');
}

.card_3 {
    background-image: url('../img/LegendaryMed.jpg');
    background-position-x: 450px;
}

.card_4 {
    background-image: url('../img/LegendaryLight.jpg');
    background-position-x: 350px;
}

.card_5 {
    background-image: url('../img/boss_1.jpg');
}

/* ------------------------------------------------------------- */
/* COMO JUGAR -------------------------------------------------- */
.mainContent {
    width: 100%;
    min-height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    padding: 30px 15%;
    background-color: whitesmoke;
}

.mainContent article {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.mainContent aside {
    width: 100%;
}

.mainContent h1 {
    font-size: 60px;
    padding: 10px 0 5px;
    letter-spacing: 3px;
}

.mainContent h2 {
    font-size: 30px;
    padding: 0 0 10px 0;
    color:#6c6c6c;
    font-weight: normal;
}

.mainContent p {
    font-size: 18px;
    text-indent: 10px;
}

.showroom {
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 25px;
}

.imgContainer {
    font-size: 0;
    width: 20%;
    height: 20vh;
    min-width: 200px;
    min-height: 150px;
    padding-bottom: -5px;
    background-color: #9c018746;
    background-blend-mode: multiply;
    border: 1px solid #4d0042;
    background-size: cover;
    box-shadow: 2px 2px 5px #343333;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.imgContainer h3,
.imgContainer h3 a {
    font-size: 1.5rem;
    color:whitesmoke;
    padding-bottom: 10px;
    font-weight: normal;
}


.imgContainer:hover {
    background-blend-mode: normal;
}

.imgContainer:hover h3 {
    text-decoration: underline dotted;
}

.img1 {
    background-image: url('../img/a-norn-necro.jpg');
}

.img2 {
    background-image: url('../img/ashford-at-night.jpg');
}

.img3 {
    background-image: url('../img/asuras-best-friend.jpg');
}

.img4 {
    background-image: url('../img/caithe.jpg');
}

/* SECCION REVIEWS --------------------------------------- */

.bg2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    background-image: url('../img/ascalon-wall-ruins.jpg');
    background-attachment: fixed;
    background-color: #380052;
    background-blend-mode: multiply;
}

.bg2 .col_1 {
    width: 100%;
    height: 46vh;
    text-align: center;
}

.bg2 .col_2 {
    width: 100%;
    min-height: 46vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* REV Y REV_Nº ---------------------------------------------------- */

.bg2 .col_2 .rev {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    gap: 20px;
    width: 205px;
    height: 205px;

    text-align: center;
    margin-bottom: 30px;
}

.bg2 .col_2 .rev .img_cont {
    width: 150px;
    height: 150px;
    background-color: white;
    border: 4px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg2 .col_2 .rev .img_cont:hover {
    -webkit-box-shadow: inset 0px 0px 15px 5px #57004bcb; 
    box-shadow: inset 0px 0px 15px 5px #57004bcb;
}

.quote {
    font-style: italic;
}

.number {
    font-size: 30px;
}

/* FOOTER ------------------------------------------- */
footer {
    background-color: #ffffff;
}

.footerWrapper {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footerNav,
.footerSocials,
.footerAnet {
    width: 33.33%;
    min-height: 18vh;
}


/* FOOTER NAV ---------- */
.footerNav {
    display: flex;
    align-items: center;
    flex: 1;
}

.footerNav ul li {
    font-size: 1.3rem;
    list-style-type: none;
}

.footerNav ul li:hover {
    font-size: 1.4rem;
    color: #c201a5;
}

.footerNav ul li a {
    color: inherit;
}


/* FOOTER SOCIALS ----------- */
.footerSocials {
    border-left: 1px dotted #0000005c;
    border-right: 1px dotted #0000005c;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.footerSocialsIcon {
    width: 65px;
    padding: 8px;
    border-radius: 50%;
}

.footerSocialsIcon img {
    width: 100%;
}

.footerSocialsIcon:hover {
    width: 70px;
}

/* FOOTER ANET ----------------*/
.footerAnet {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
}

.footerAnetLogoWrap {
    width: min-content;
}

/* PAGINAS EXTRA GENERALES ----------------------------------------- */

.mainPages .mainWrapper {
    width: 80%;
    min-height: 61vh;
    margin: 50px auto;
    background-color: white;
}

.mainWrapper h1,
.mainWrapper h3 {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.mainWrapper h1 {
    font-size: 6rem;
    padding: 25px 0 0;
    color: #4d0041c5;
}

.mainWrapper h3 {
    font-family: 'Lato', sans-serif;
    padding-bottom: 25px;
    border-bottom: 1px dotted #4d0171a0;
}

.mainWrapper h4 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: #4d0042;
    line-height: 90%;
}

.mainWrapper h5 {
    font-size: 1.2rem;
    color: #887c8e;
    padding-bottom: 10px;
}

.mainWrapper p {
    padding-bottom: 10px;
}

.mainWrapper .masInfo a{
    color: #8001a7;
    text-transform: uppercase;
}

.mainWrapper .masInfo a:hover {
    text-decoration: underline wavy;
}

.mainWrapper section {
    width: 80%;
    margin: 30px auto;
    padding: 25px;
}

/* PAGINAS: RAZAS ------------------------------------ */

.razas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.razas .col_1 {
    width: 30%;
    display: flex;
    justify-content: center;
}

.razas .col_2 {
    width: 70%;
}

.razasSylvari .col_1,
.razasNorn .col_1 {
    order: 2;
}

.razasSylvari .col_2,
.razasNorn .col_2 {
    order: 1;
    text-align: right;
}

.razasCharr .col_1 {
    overflow: hidden;
    justify-content: end;
}

/* PAGINAS: CLASES ------------------------------------ */


.profWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#profLarge {
    width: 100%;
}

.prof {
    width: 40%;
    min-width: 400px;
    padding-bottom: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.prof .col_1 {
    width: 40%;
}

.prof .col_2 {
    width: 60%;
    padding: 5px;
}

.prof .col_2 h4 {
    padding-bottom: 10px;
}


.prof .col_1 img {
    width: 100%;
}

/* PAGINAS: NOVEDADES ------------------------------------ */

.mainPages .mainWrapper .novedadesWrapper {
    width: 50%;
    min-height: 30vh;
}

.novedades {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
}

.novedades:hover {
    background-color: #34333317;
}

.novedades .novedadesFecha {
    width: 10%;
    min-width: 50px;
    text-align: center;
    border-right: 1px dotted #380052 ;
}


.novedades .novedadesNoticia {
    width: 90%;
    min-width: 300px;
    padding-left: 10px;
}

/* PAGINAS: LINKS UTILES ------------------------------------ */

.mainLinks {  
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    /* justify-content: center; */
}

.cardLinks {
    border: 1px solid lightgray;
    padding: 15px;
    width: 30%;
    min-width: 250px;
}

.cardLinks:hover {
    background-color: #34333311;
}

.cardLinks ul {
    padding: 10px 0 0 20px;
}

.cardLinks ul li {
    line-height: 150%;
}

.cardLinks ul li a:hover {
    text-decoration: underline dotted;
    color:#970681;
}